
@charset "utf-8"
body{
	background-color: #ececec;
}
header{
	width: 100%;
	background: rgb(233,246,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,246,253,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	min-height: 140px;
}
nav{
	width: 100%;
	height: auto;
	background-color:green;
	margin-top: 25px;}
#logo{

	top: 35px;
}
#flag{

	margin-top: 70px;
}
#social{
	margin-top: 65px;
}
.phone{
	height: 34px;
	background: url("../img/phone_Kellpo.png") no-repeat top-left;
}

