
/*@charset "utf-8"*/

body{
	background-color: #ececec;
}
header{
	width: 100%;
	background-color: rgb(219,244,250); // Old browsers
	@include filter-gradient(#dbf4fa, #ffffff, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(219,244,250,1) 0%,rgba(224,246,251,1) 13%,rgba(254,255,255,1) 57%,rgba(255,255,255,1) 100%));
	min-height: em-calc(140);
}
nav{
	width: 100%;
	background-color: rgb(98,200,230); // Old browsers
	@include filter-gradient(#62c8e6, #33a8c8, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(98,200,230,1) 0%,rgba(93,197,227,1) 16%,rgba(58,173,205,1) 80%,rgba(51,168,200,1) 100%));

}
#logo{
}
#logo img{margin-left:em-calc(70);   margin-top: em-calc(38);}
.flag

	{ @include inline-list;
	 margin-top: em-calc(60);
     margin-left:em-calc(50);
     padding-bottom:5px;

	li{

            margin-bottom:5px;
		a{

            display: block;
            font-weight: bold;
            margin-right: 15px;
            padding: 0.5em 0.5em 0.5em 35px;
            position: relative;
            height:em-calc(20);

		}
			.DK {
                @extend .icons-dk;
            }
            .EN {
                @extend .icons-en;
            }
            .GE {
                @extend .icons-g;
            }


		}
	}


.soical{
	@include inline-list;
	margin-top: em-calc(54);

	li{
		a{

            display: block;
            font-weight: bold;
            margin-right: 15px;
            padding: 0.5em 0.5em 0.5em 35px;
            position: relative;
            height:em-calc(35);

		}
			.face {
                @extend .icons-facebook;
            }
            .link {
                @extend .icons-lind;
            }

		}
}
.phone h3{
	height: 34px;
	display:block;
	margin-top:18px;
     position: relative;
     top:35px;
     font-weight:normal;
    padding-left: 58px;
    color:#636466;
}
figcaption{
	padding-top:em-calc(20);
}
.top-bar {
    background: none;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
}
/** Removes black background on menu bar **/
.top-bar-section ul {
    background: none;
    text-transform: normal;
}
/** Removes black background on menu item **/
.top-bar-section li a:not(.button) {
    background: none;
    line-height: 50px;
    padding: 0 27px;
    color:#fff;
    font-size:19px;
    font-weight:normal;
}


.top-bar-section ul li.active > a {
    background:  rgb(0, 0, 0);
     @include filter-gradient(#62c8e6, #33a8c8, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(98,200,230,1) 0%,rgba(93,197,227,1) 16%,rgba(58,173,205,1) 80%,rgba(51,168,200,1) 100%));
    color: #fff;
}
/** Changes the hover state of non active menu items **/
.top-bar-section li:hover a,.top-bar-section ul li.active a {
    background: #49c7e9;

}
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
    color: #2d2d2d;
}
/** Changes the hover state of dropdown menu items **/
.top-bar-section ul.dropdown li a:hover:not(.button) {
    background:#49c7e9;
}
 .top-bar-section li a:not(.button):hover {
    background:#49c7e9;
  }
/** IMPORTANT fill for the ul dropdown container **/
.top-bar-section ul.dropdown {
    background: #50bcdb;
    color: #fff;
}
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: rgba(80, 188, 255, 1) transparent transparent;
    margin-top: 2.5px;
}
  .top-bar.expanded .title-area{
    background:#50bcdb;
    }

@media only screen and (max-width: 942px) {
    /* Makes the responsive menu fit in the navigation container and change its background to black */
    .top-bar ul {
        background-color: rgba(80, 188, 255, 0.5);
        padding-bottom: 13px;
    }

    /* Change non active menu item color to black */
    .top-bar-section ul li > a {
        color: #fff;
    }
    /* Gives the dropdown ul a black fill */
    .top-bar-section ul {
        background: #50bcdb;
    }
    /* Give the BACK button after going in a submenu the appropriate filling */
    .top-bar-section .dropdown li.title h5 a {
        line-height: 57px;
    }
    /* This fixes the position and the color of the dropdown arrow */
    .top-bar-section .has-dropdown > a:after {
        border-color: rgba(255, 255, 255, 1) transparent transparent;
        margin-top: 2.5px;
    }
    .top-bar.expanded .toggle-topbar a, .top-bar.expanded .toggle-topbar a span{color:white;}
} /* end media query */
.slide {
	height:337px;
	margin-bottom:em-calc(70);	}
ul.disc {
float:right;
@include filter-gradient(#ececec, #ececec, horizontal); // IE6-9
@include background-image(linear-gradient(left,  rgba(236,236,236,0) 0%,rgba(236,236,236,0.01) 16%,rgba(236,236,236,0.08) 21%,rgba(236,236,236,0.18) 23%,rgba(236,236,236,0.32) 26%,rgba(236,236,236,0.63) 30%,rgba(236,236,236,0.8) 33%,rgba(236,236,236,0.91) 35%,rgba(236,236,236,0.95) 36%,rgba(236,236,236,1) 39%,rgba(236,236,236,1) 98%,rgba(236,236,236,1) 100%));
	list-style:none;
	 li{

      strong{
      font-size:22px;

      }
          a{
     height:100px;
      width:100%;
      }

	 a.active, a:hover{
	  @include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
@include background-image(linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 16%,rgba(255,255,255,0.08) 21%,rgba(255,255,255,0.18) 23%,rgba(255,255,255,0.32) 26%,rgba(255,255,255,0.63) 30%,rgba(255,255,255,0.8) 33%,rgba(255,255,255,0.91) 35%,rgba(255,255,255,0.95) 36%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%));

	  }


 }

}
section.buttom-info{
	padding-top:em-calc(70);

	.orbit-container
	{
		background:white;
		padding:25px 15px 0 25px;
		}
	.orbit-bullets{
		float:right;
		margin-bottom:15px;
		}
}
.zurb-footer-bottom {
background: #474747;
padding: 30px 0 10px;
margin-top:95px;
min-height:250px;
		ul{
			list-style:none;
			color:white;

		}
		h6{
			color:#7adffd;
			font-weight:normal;
			font-size:em-calc(20);
			}
		img{
		padding:10px 0 20px 0;
		}
		small{
		font-size:em-calc(12);
		}


 }
 ul.footer-icons{

 li{ height:32px;
 	padding:0 0 20px 40px;
 	margin-bottom:10px;
 	  a{
 	  	color:white;
 	  }
 	  }

 }

 //spaantagning
 .panel{
 margin-top:em-calc(50);
 }
 .galleri {
 padding-bottom:10px;
 }
 .galleri-bottom{
 padding-top:40px;
 }

 .tale{
   @extend .icons-tale;
    height:87px;
 width:100px;
  padding:6px;
  margin-top:20px;

   p{

 color:white;
 font-size:em-calc(14);
margin-bottom:.2em;
line-height:1.1em;
 }
 a{
 font-size:em-calc(12);
 font-weight:normale;
color:white;
 }

 }
 aside{
 margin-top:50px;
    .button{
    margin-top:40px;
    }
    .vcard{
    border:none;
    }
 }

 .kontakt{
  list-style:none;
     margin-left:em-calc(10);

 small{
 font-size:90%;
 line-height:.4em;

 }

   a{
    display:block;
    position: relative;
    font-weight:normal;
    padding-left: 20px;
    color:#636466;
      line-height: 0.5;
          margin-top:10px;


    }
        p{
             display:block;
    position: relative;
    font-weight:normal;
    padding-left: 20px;
     line-height: 0.5;
     margin-top:10px;
        }

 .mail{
    height:9px;
   @extend .icons-mail;

        }

  .phone-small{
    @extend .icons-phone-small_kellpo;
    height:11px;
   }

   }
   .pdf{
    display:block;
    position: relative;
    font-weight:normal;
    padding-left: 58px;
    nheight:45px;
    @extend .icons-pdf;
     padding-top:25px;
margin-top:40px;
font-size:90%;
color:#636466;
   }


  #sub{
  width:100%;
  background:#474747;
 .sub-menu
   {
  display: block;
  width: auto;
  margin: -0.25em 0 1.125em;
  padding-top: 0.35em;
  margin-right: 0;
  margin-left: -0.5625em;
}

 .sub-menu dt,
 .sub-menu dd,
.sub-menu li {
 float: left;
display: inline;
margin-left: 1.8em;
margin-bottom: 0.625em;
font-weight: normal;
font-size: 18px;
margin-top: .5em;
}
 .sub-menu dt a,
 .sub-menu dd a,
 .sub-menu li a {
  color: white;
  text-decoration: none;
}
.sub-menu dt.active a,
.sub-menu dd.active a,
.sub-menu li.active a {

  cursor: default;
  color: #afafaf;
}


  }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6
  {
  color:#49c7e9;
  }
.panel .subheader{
  color:#636466;
  font-weight:600;
  }

  /*OVERRIDES*/
  h3, h4, h5, h6{color:$panel-font-color}
  .orbit-slides-container h4{margin-bottom:em-calc(15); color:$primary-color}
  .orbit-slides-container .content{margin-top:$h4-font-size + em-calc(15)}
  .orbit-container .orbit-slides-container{overflow:hidden}
  section.buttom-info .orbit-bullets{margin-bottom:30px}

  @media only screen and (max-width: 768px){
    #logo img{margin-left:0px}
    h3.icons-phone{padding-left:0px; background:none}
  }
