// Global Foundation Settings
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic&subset=latin,latin-ext);
@import "compass/css3";
@import "compass/utilities/sprites/base";
@import "settings";



// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes"
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
//min style css
@import "icons/*.png";
@include all-icons-sprites;
@import "style";


section.columns ul{padding-left:20px}
ul.kontakt,
.imagegallery ul{padding-left:0px !important; margin-left:0px}
.radius .orbit-container,
.radius .orbit-container li a, img{border-radius: $global-radius}
.orbit-timer{display:none}
figcaption{font-size: 1.1em;}
.disc{padding-top:20px}
.disc li a{padding-left:110px}
#videolist img{max-height:140px}

.videogallery .columns{padding-bottom:10px}

.icons-Play2{position: absolute;
height: 63px;
width: 63px;
top: 50%;
margin-top: -34px;
left: 50%;
margin-left: -30px;}
#videolist .icons-Play2{margin-top:-53px}

#roprotator{position: relative;}
#toprotator .disc{position: absolute; right:0px; z-index:9999; height:380px;
}

#toprotator ul.disc li a{display: block; width:100% !important; padding-top:22px; border-radius: $global-radius}
#toprotator .disc li a strong{display: block; font-weight: normal}
#toprotator .disc li a span{color:$body-font-color}

@media screen and(max-width:400px){

	#videolist>div{font-size:0.8em; height:136px;
		figcaption{padding-top:0.8em}
		img{height:92px}}
}