﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to list nodes from a Multinode tree picker, using the pickers default settings.
	Content Values stored as xml.

	To get it working with any site's data structure, simply set the selection equal to the property which has the 
	multinode treepicker.
*@

@* Lists each selected value from the picker as a link *@
<ul class="small-block-grid-2 large-block-grid-4">
	@foreach(var id in Model.contactslist){
		var node = Library.NodeById(id.InnerText);
	<li>
		@*For each link, get the node, and display its name and url*@
		
		
		@if(!node.HasValue("image")){
		<img src="http://www.placehold.it/150x200/e1f6fb/626264&text=Billede+kommer"/>}
		else{
			<img src="/ImageGen.ashx?image=@Library.MediaById(@node.image).url&width=150" alt="" />
		}
 			<figcaption><h4>@node.name</h4>@node.title</figcaption>
			<ul class="kontakt"> 
				<li><small><a class="mail" href="mailto:@node.mail">@node.mail</a></small></li>
				<li><p class="phone-small"><small>@node.phone1</small></p></li>
				</ul>
		</li>
	}

	</ul>

  