﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to list nodes from a Multinode tree picker, using the pickers default settings.
	Content Values stored as xml.

	To get it working with any site's data structure, simply set the selection equal to the property which has the 
	multinode treepicker.
*@

@{
	var videos = Model.videos;
}


@* Lists each selected value from the picker as a link *@
@if(!Model.IsNull("videos")){
<section class="row">
@foreach (var video in videos.Take(4)) 
{
	var node = Library.NodeById(video.InnerText);
	<div class="large-3 small-6 columns">
		<a href="#" data-reveal-id="videoModal-@node.link" class="radius video">
			@if(node.HasValue("image")){
				<img class="radius" src="ImageGen.ashx?image=@Library.MediaById(node.image).Url&width=263&height=130" />
			
			}
			else{
				<img class="radius" src="http://img.youtube.com/vi/@node.link/0.jpg" width="263" height="130"/>

			}
			
		</a>
		<figcaption>@node.text</figcaption>
		<div id="videoModal-@node.link" class="reveal-modal large">
		    <div class="flex-video">
      			<iframe width="800" height="315" src="http://www.youtube.com/embed/@node.link" frameborder="0" allowfullscreen></iframe>
    		</div>
		    <a class="close-reveal-modal">&#215;</a>
  		</div>
	</div>
}

	</section>
}