﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@

	@{var nodes = Model.toprotator;
	  int counter = 1;
	}

@* The fun starts here *@

	@if(nodes.HasValue()){
	
	<section id="toprotator" class="row" style="position:relative">

  <div class="slide large-12 small-12 columns slideshow-wrapper">
  <div class="preloader"></div>
    <ul id="featured2" data-orbit data-options="bullets:false; timer:true; navigation_arrows:false;">
	@foreach(var id in nodes){

		@*For each link, get the node, and display its name and url*@
		var node = Library.NodeById(id.InnerText);
	  <li data-orbit-slide="headline-@counter"><img src="/ImageGen.ashx?Image=@Library.MediaById(node.image).Url&width=1000&height=380" /></li>
		  counter++;
	}
	</ul>
  </div> 
		@{
	counter = 1;
		}
  <ul class="disc large-3 small-3 columns">
  @foreach(var id in nodes){
	  var node = Library.NodeById(id.InnerText);
  <li><a class="" href="node.link" data-orbit-link="headline-@counter"><strong>@node.headline</strong>
  @node.teaser</a></li>
	counter++;
	  }
</ul>

</section>
	   }