﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@

	@{var nodes = Model.toprotator;
	  int counter = 1;
	}

@* The fun starts here *@

	@if(nodes.HasValue()){
	
	<div class="preloader"></div>
    <ul class="radius" data-orbit data-options=" navigation_arrows:false;">
	@foreach(var id in nodes){

		@*For each link, get the node, and display its name and url*@
		var node = Library.NodeById(id.InnerText);
	  <li>
		   <div class="large-6 columns">
            <h5>Aktuelt</h5>
            <img src="/ImageGen.ashx?Image=@Library.MediaById(node.image).Url&width=228&height=140" alt="" />
          </div>
           <div class="large-6 columns">
            <h5>@node.headline</h5>
            <p>@node.teaser</p>
            <a href="@node.link"> >> læse mere</a>
        </div>
		</li>
	}
	</ul>
	}