﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to list nodes from a Multinode tree picker, using the pickers default settings.
	Content Values stored as xml.

	To get it working with any site's data structure, simply set the selection equal to the property which has the 
	multinode treepicker.
*@

@{
	var images = Model.images;
	var videos = Model.videos;
	
	var imagesid1 = images.First().InnerText;
}


@* Lists each selected value from the picker as a link *@
@if(!Model.IsNull("videos")){
<div class="row collapse">

	
			
@foreach (var video in videos) 
{
	var node = Library.NodeById(video.InnerText);
	var thisclass = "large-6";
	
	if(video.IsFirst()){
		thisclass ="large-12";
	}
	
	
	<div class="@thisclass columns">
		<a href="#" data-reveal-id="videoModal-@node.link" class="radius video">
			@if(node.HasValue("image")){
			<img src="@Library.MediaById(node.image).Url"/>
			}
			else{
			<img src="http://img.youtube.com/vi/@node.link/0.jpg"/>
			}
		</a>
		<div id="videoModal-@node.link" class="reveal-modal large">
		    <div class="flex-video">
      			<iframe width="800" height="315" src="http://www.youtube.com/embed/@node.link" frameborder="0" allowfullscreen></iframe>
    		</div>
		    <a class="close-reveal-modal">&#215;</a>
  		</div>
	</div>
}
</div>
}
@{
	var imagenode1 = Library.NodeById(imagesid1);
}
<div class="row collapse">
<ul class="clearing-thumbs clearing-feature small-12" data-clearing>
	
	<li class="clearing-featured-img" style="margin-right:0px"><a href="@imagenode1.url"><img src="/Imagegen.ashx?image=@imagenode1.url&width=318"/></a></li>
	@foreach(var id in images.Skip(1)){

		@*For each link, get the node, and display its name and url*@
		var node = Library.NodeById(id.InnerText);

		<li><a href="@node.Url"><img src="@node.Url"/></a></li>	
	}
</ul>
</div>