﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to display child pages below the root page of a standard website.
	Also highlights the current active page/section in the navigation with
	the css class "current". 
*@


@{ 
	@*Get the root of the website *@
    var root = Model.AncestorOrSelf("Forside");
}

<ul>
    @foreach (var page in root.Children.Where("Visible"))
    { 
        <li class="@page.IsAncestorOrSelf(Model, "active", "")">
			@if(@page.HasValue("redirectto")){
			<a href="@Model.NodeById(page.redirectto).Url">@page.Name</a>
			}else{
				<a href="@page.Url">@page.Name</a>
			}
		</li>
		}
</ul>
