﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to list nodes from a Multinode tree picker, using the pickers default settings.
	Content Values stored as xml.

	To get it working with any site's data structure, simply set the selection equal to the property which has the 
	multinode treepicker.
*@

@* Lists each selected value from the picker as a link *@

	@foreach(var id in Model.spotboxitems){

		@*For each link, get the node, and display its name and url*@
		var node = Library.NodeById(id.InnerText);
		
		if(node.HasProperty("spotboxtext")){
			@node.spotboxtext
		}
		else if(node.HasProperty("linkTil")){
			string nodeType = node.type;
    	   	switch(nodeType){

         		case "knap":     

         			<a href="@node.Url" class="button small extand radius">@node.linktext ›</a>
         			break;
				case "pdf":
		 			<a class="pdf" href="@node.Url">@node.linktext</a>
		 			break;

         		default:
					break;
	       }     
		}
		else if(node.HasProperty("mail")){
			<img src="/ImageGen.ashx?image=@Library.MediaById(@node.image).url&width=150" alt="" />
 			<div class="tale right">
  			<p>Har du brug for hjælp?</p>
			<a href="mailto:@node.mail">Kontakt mig!</a>
			</div>
 			<figcaption><h4>@node.name</h4>@node.title</figcaption>
			<ul class="kontakt"> 
				<li><small><a class="mail" href="mailto:@node.mail">@node.mail</a></small></li>
				<li><p class="phone-small"><small>@node.phone1</small></p></li>
				</ul>
		}
	}

	

  