﻿@inherits umbraco.MacroEngines.DynamicNodeContext


	@{ 
	@*Get the root of the website *@
    var root = Model;
}

@* Ensure that the Current Page has children, where the property umbracoNaviHide is not True *@
@if (root.Children.Where("Visible").Any() && Model.Level != 1)
{
	<div id="sub">
  <div class="row">
  <ul class="sub-menu">
 @* For each child page under the root node, where the property umbracoNaviHide is not True *@
        @foreach (var page in Model.Children.Where("Visible"))
        {
            <li>
                @if(@page.HasValue("redirectto")){
			<a href="@Model.NodeById(page.redirectto).Url">@page.Name</a>
			}else{
				<a href="@page.Url">@page.Name</a>
			}
            </li>
        }
</ul>
</div>
</div>
	  
   
}

